---
layout: layouts/home.njk
tags:
  - nav
navtitle: Strona główna
---

<h1>To jest strona główna</h1>
i tu będzie można zaszaleć <br>

<video src="https://media.giphy.com/media/W8krmZSDxPIfm/giphy.mp4" autoplay loop></video>
