<h2>Szukajka</h2>
<form action="https://duckduckgo.com/" method="get" class="search">
  <input type="hidden" name="sites" value="https://ranyboskie.pl/posts">
  <label for="search-str">Szukaj postów<small></label>
  <input type="text" name="q" class="search-str" id="search-str"></p>
  <button class="btn-submit">Szukaj postów</button>
</form>
<ul class="result-list">

</ul>
