---
layout: layouts/base.njk
templateClass: tmpl-author
---
<h1>{{ title }}</h1>

jakieś bio autora <br>
<img src="../../img/{{ author }}.jpg" alt="{{ author }}"></img><br><br>

posty napisane przez <b>{{ author }}</b>:
{% set postslist = collections.posts %}
{% include "authlist.njk" %}

<p><a href="{{ '/' | url }}">← Home</a></p>
